@font-face {
	src: url(avenirlt_roman.ttf);
	font-family: avenir;
}

.body-bg-img {
	background-image: url(GI.png);
	background-size: 100% 100%;
	background-attachment:fixed;
	font-family: avenir;
}

.hat {
	height: 60px;
}

.hatc {
	height: 53px;
	width: 1200px;
	padding-top: 7px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	height: 60px;
	width: 200px;
	background-image: url(Genshin_Impact_logo.svg);
	background-size: 100% 100%;
	margin-left: auto;
	margin-right: auto;
}

.skeleton {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.video {
	width: 1200px;
	height: 680px;
	margin-top: 30px;
}

.box {
	width: 1200px;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 25px;
}

.prmbox {
	width: 600px;
}

.heading {
	width: 260px;
	font-size: 35px;
	margin-left: auto;
	margin-right: auto;
}

.pbox {
	width: 250px;
	margin-left: 40px;
}

.d-flex {
	display: flex;
}

.b-img {
	width: 600px;
}

.i-img {
	width: 1200px;
}

ul {
	list-style: disc;
}